{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block title %}{% translate "Log In" %}{% endblock title %}


{% block index %}

    <main class="signup">
      <div class="container">
                <h1 style="text-align:left;">Login</h1>
                <form method="post" class="signup-frame__form">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <!--div style="text-align: left;">
                      <input type="checkbox" class="form-check-input" id="isEnabled"/>
                      <label for="isEnabled" style="margin-left: 5px;"><span>Remember me</span></label>
                  </div-->
                  <p style="text-align:left;">&nbsp
                      {% translate "Do you not have an account yet?" %} <a
                      href="{% url 'account_signup' %}">{% translate "Sign up" %}</a>
                  <p style="text-align: left">
                    <a href="{% url 'account_reset_password' %}">{% trans "Forgot your password?" %}</a>
                  </p>

                  </p>

                  <button class="btn btn--large" type="submit"
                          id="loginbutton">{% translate "Login" %}</button>
                </form>
                <!--button onclick="document.getElementById('login').style.display='none'" type="button" class="cancelbtn">
                    Close
                </button>
                <p id="responseMsg"></p-->

            </div>

    </main>


{% endblock index %}
