{% extends 'step_progression.html' %}

{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en-us">

{% block head_block %}
<link href="{% static 'css/pages/calculating.css' %}" rel="stylesheet">
{% endblock head_block %}

{% block progression_content %}
<body>
<main>
    <section class="dashboard" style="width: 500px; display: block;  margin-left: auto;  margin-right: auto;">
        <div>
            <div class="row">
                <div class="col">
                    <div class="chart" style="border: 15px solid #FAFAFA; height: auto;">
                        <div class="chart__header">
                            <a class="title">{% translate 'Model Calculation' %}</a>
                        </div>
                        <hr>
                        <div id="loader" class="loader"></div>
                        <a>{% translate 'Status:' %} </a>
                        <a id="statusMsg">{% translate 'Starting optimization...' %}</a>
                        <hr>
                        {% if email_opt == true %}
                            <label class="switch">
                                <input type="checkbox" id="toggleswitch">
                                <span class="slider round"></span>
                            </label>
                            <a>&nbsp;&nbsp;{% translate 'Send email when calculation is finished.' %}</a>
                            <p></p>
                        {% endif %}
                        <a>{{ msg }}</a>
                        <p></p>
                        <a href="{% url 'steps:energy_system_design' proj_id %}"
                           class="btn btn--long text-right"
                           onclick="abort_calculation();"
                        >{% translate 'Abort Calculation' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="msgBox" class="modal" style="background-color: rgba(0,0,0,0.5); z-index: 999; text-align: left">
        <form class="modal-content" style="max-width: 24rem">
            <div class="container">
                <h1>{% translate 'Warning' %}</h1>
                <p id="responseMsg"></p>
                <a id="redirectLink" href="#" class="btn btn--long text-right">{% translate 'Go to Page with Missing Data' %}</a>
            </div>
        </form>
    </div>
</main>
</body>
{% endblock progression_content %}

{% if email_opt == true %}
    <script>
        let input = document.getElementById('toggleswitch');
        let is_active = false;
        input.addEventListener('change', function () {
            if (this.checked) {
                is_active = true;
            } else {
                is_active = false;
            }
            send_email_notification({{ proj_id }}, is_active)
        });
    </script>
{% endif %}

{% block end_body_scripts %}
<script src="{% static 'js/backend_communication.js' %}"></script>
<script>
  const proj_id = '{{ proj_id }}';
  const csrfToken = '{{ csrf_token }}';
  const lang = '{{ LANGUAGE_CODE }}';
  const startCalculationUrl = `{% url 'optimization:start_calculation' proj_id %}`;
  const waitingForResultsUrl = `{% url 'optimization:waiting_for_results' proj_id %}`;
  const processResultsUrl = `{% url 'optimization:handle_optimization_results_request' proj_id %}`;
  const abortCalculationUrl = `{% url 'optimization:abort_calculation' proj_id %}`;
</script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
      start_calculation(proj_id);
  });
</script>
{% endblock end_body_scripts %}
</html>
