{% extends 'step_progression.html' %}

{% load static %}
{% load i18n %}
{% load custom_template_tags %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block head_block %}
<link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock head_block %}

{% block progression_content %}
<main>
  <section class="dashboard">
    <div>
      <form method="post">
        {% csrf_token %}
        <div class="row">
          {% for component, fields in grouped_fields.items %}
          {% if component != 'Shs' %}
          <div class="col-md-4">
            <div class="box box--tiny">
              <div class="box__header">
                <span class="grid-title">{{ component }}</span>
              </div>
              {% for field_name, field in fields %}
              <div class="row">
                <div class="input-group">
                  <span class="input-group-text">{{ field.label | safe }}</span>
                  {{ field|add_class:"form-control" }}
                  <span class="input-group-text">{{ field.field.widget.attrs.unit }}</span>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          {% else %}
          <div class="col-md-4">
            <div class="box box--tiny" id="selectShsBox">
              {% for field_name, field in fields %}
                {% if field_name == 'include_shs' %}
                <div class="box__header">
                  {{ field|add_class:"form-check-input" }}
                  <span id="selectShsBoxTitle" class="grid-title">{{ field.label | safe }}</span>
                </div>
                {% else %}
                <div class="row">
                  <div class="input-group" id="shsLifetimeLabel">
                    <span class="input-group-text">{{ field.label | safe }}</span>
                    {{ field|add_class:"form-control" }}
                    <span class="input-group-text" id="shsLifetimeUnit">{{ field.field.widget.attrs.unit }}</span>
                  </div>
                  <img
                    src="{% static 'assets/icons/qm.svg' %}"
                    alt="Icon"
                    style="width: 100px; cursor: pointer; padding-top: 0.5rem; padding-bottom: 0.5rem"
                    onclick="document.getElementById('videoTutorial').style.display='block'"
                  />
                  <p style="margin-bottom: 5px; color: #8B0000;">
                    <i>
                      Watch video tutorial for further explanation of this parameter
                    </i>

                </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <input type="submit" id="submitFormBtn" hidden>
      </form>
      <div class="row">
        <p style="font-size: 12px;">
          Sources: <br>
          <a href="https://openknowledge.worldbank.org/server/api/core/bitstreams/32287154-1ccb-46ce-83af-08facf7a3b49/content">Mini
            Grids for Half a Billion People: Market Outlook and Handbook for Decision Makers</a>, <i>ESMAP -
          World Bank</i>, 2022 <br>
          <a href="https://www.nrel.gov/docs/fy18osti/69044.pdf">Tariff Considerations for Micro-Grids in
            Sub-Saharan Africa</a>, <i>National Renewable Energy Laboratory</i>, 2018 <br>
          <a href="https://rmi.org/wp-content/uploads/2018/12/rmi-seeds-minigrid-report.pdf"> Minigrids in the
            Money: Six Ways to Reduce Minigrid Costs by 60% for Rural Electrification</a>, <i>Rocky Mountain
          Institute</i>, 2018
        </p>
      </div>
    </div>
  </section>
  <div id="videoTutorial" class="modal" style="background-color: rgba(0,0,0,0.5); z-index: 999; text-align: left">
    <form class="modal-content" style="width: 700px; height: 520px;">
      <div class="container">
        <h1 style="margin-bottom: 0;">Video Tutorial</h1>
        <div style="padding: 15px;">
          <video id="tutorialVideo" width="568" height="360" controls>
            <source src="{% static 'videos/tut_shs.mp4' %}">
            Your browser does not support the video tag.
          </video>
        </div>
        <button onclick="stopVideo(); document.getElementById('videoTutorial').style.display='none'"
                type="button" class="deletebtn">OK
        </button>
      </div>
    </form>
  </div>
</main>
{% endblock progression_content %}


{% block end_body_scripts %}
<script src="{% static 'js/pages/grid_design.js' %}"></script>
<script src="{% static 'js/backend_communication.js' %}"></script>
{% endblock end_body_scripts %}

{% block next_btn %}
<button id="next-button"
        class="btn btn--medium"
        onclick="javascript:document.getElementById('submitFormBtn').click();">{% translate "Next" %}</button>
{% endblock next_btn %}
