{% extends 'step_progression.html' %}

{% load static %}
{% load i18n %}
{% load custom_template_tags %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block head_block %}
<link href="{% static 'css/pages/grid-design.css' %}" rel="stylesheet">
<link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock head_block %}

{% block progression_content %}
<main>
  <section class="gd">
    <div>
      <form method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-4">
            <div class="gd-sidebar">
              <div class="gd-sidebar__header">
                <h2>Grid Properties</h2>
              </div>
              <div class="gd-sidebar__content" id="gd-accordion">
                {% for component, fields in grouped_fields.items %}
                {% if component != 'Shs' %}
                <div class="accordion" id="accordion-{{ component|slugify }}">
                  <div class="accordion-item gd-component">
                    <h2 class="accordion-header" id="heading-{{ component|slugify }}">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse-{{ component|slugify }}"
                        aria-expanded="false"
                        aria-controls="collapse-{{ component|slugify }}">
                          {{ component }}
                      </button>
                    </h2>
                    <div
                      id="collapse-{{ component|slugify }}"
                      class="accordion-collapse collapse"
                      aria-labelledby="heading-{{ component|slugify }}"
                      data-bs-parent="#gd-accordion"
                    >
                      <div class="accordion-body">
                        {% for field_name, field in fields %}
                        <div class="mb-3">
                          <label for="{{ field.id_for_label }}" class="form-label">{{ field.label|safe }}</label>
                          <div class="input-group">
                            {{ field|add_class:"form-control" }}
                            <span class="input-group-text">{{ field.field.widget.attrs.unit }}</span>
                          </div>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
                {% else %}
                <div class="accordion" id="accordion-{{ component|slugify }}">
                  <div class="accordion-item gd-component">
                    <h2 class="accordion-header" id="heading-{{ component|slugify }}">
                      <button class="accordion-button collapsed" type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#collapse-{{ component|slugify }}"
                              aria-expanded="false"
                              aria-controls="collapse-{{ component|slugify }}">
                        Solar Home Systems
                      </button>
                    </h2>
                    <div id="collapse-{{ component|slugify }}"
                        class="accordion-collapse collapse"
                        aria-labelledby="heading-{{ component|slugify }}"
                        data-bs-parent="#gd-accordion"
                      >
                      <div class="accordion-body">
                        {% for field_name, field in fields %}
                          {% if field_name == 'include_shs' %}
                          <div class="form-check mb-3 ps-3">
                            {{ field|add_class:"form-check-input" }}
                            <label for="{{ field.id_for_label }}" class="form-check-label" id="selectShsBoxTitle">{{ field.label|safe }}</label>
                          </div>
                          {% else %}
                          <div class="mb-3" id="shsLifetimeLabel">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label|safe }}</label>
                            <div class="input-group">
                              {{ field|add_class:"form-control" }}
                              <span class="input-group-text" id="shsLifetimeUnit">{{ field.field.widget.attrs.unit }}</span>
                            </div>
                            <div class="gd-watch-video">
                              <img
                                src="{% static 'assets/icons/i_video.svg' %}"
                                alt="Icon"
                                style="width: 2rem; cursor: pointer;"
                                onclick="document.getElementById('videoTutorial').style.display='block'"
                              />
                              <p class="gd-watch-video-text">
                                Watch video tutorial for further explanation of this parameter
                              </p>
                            </div>
                          </div>
                          {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="gd-map">
              <div class="gd-map__header">
                <h2>Grid Layout</h2>
              </div>
              <div class="gd-map__content">
                <input id="gridDesignSearch" class="input-group-text gd-search" placeholder="Search location" type="text">
                <div id="gridDesignMap" style="min-height: 650px; width: 100%;"></div>
              </div>
            </div>
          </div>
        </div>
        <input type="submit" id="submitFormBtn" hidden>
      </form>
    </div>
  </section>
  <div id="videoTutorial" class="modal" style="background-color: rgba(0,0,0,0.5); z-index: 999; text-align: left">
    <form class="modal-content" style="width: 700px; height: 520px;">
      <div class="container">
        <h1 style="margin-bottom: 0;">Video Tutorial</h1>
        <div style="padding: 15px;">
          <video id="tutorialVideo" width="568" height="360" controls>
            <source src="{% static 'videos/tut_shs.mp4' %}">
            Your browser does not support the video tag.
          </video>
        </div>
        <button onclick="stopVideo(); document.getElementById('videoTutorial').style.display='none'"
                type="button" class="deletebtn">OK
        </button>
      </div>
    </form>
  </div>
</main>
{% endblock progression_content %}


{% block end_body_scripts %}
<script src="{% static 'js/pages/grid_design.js' %}"></script>
<script src="{% static 'js/backend_communication.js' %}"></script>
{% endblock end_body_scripts %}

{% block next_btn %}
<button id="next-button"
        class="btn btn--medium"
        onclick="javascript:document.getElementById('submitFormBtn').click();">{% translate "Next" %}</button>
{% endblock next_btn %}
