{% extends 'step_progression.html' %}

{% load crispy_forms_tags %}
{% load custom_template_tags %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}

{% block head_block %}
<link href="{% static 'css/pages/project_setup.css' %}" rel="stylesheet">
<link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock head_block %}

{% block progression_content %}
<main>
  <section class="dashboard" style="height: auto">
    <div class="chart"
         style="height: auto;
                      padding-bottom: 10px">
      <div class="chart__header">
        <a class="title"></a>
      </div>
      <form action="{% if proj_id %}{% url 'steps:project_setup' proj_id %}{% else %}{% url 'steps:project_setup' %}{% endif %}" method="POST">

        {% csrf_token %}
        <div class="row" style="height: auto">
          <div class="col-md-6" style="height: auto">
            {% for field in form %}
            {% if field.name in left_col_fields %}
            <div class="input-item">
              <label class="form-label">{{ field.label | safe }}</label>
              <div class="input-group">
                {{ field|add_class:"form-control" }}
                {% if field.field.widget.attrs.unit != "" %}<span class="input-group-text">{{ field.field.widget.attrs.unit }}</span>{% endif %}
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
          <div class="col-md-6" style="height: auto">
            {% for field in form %}
            {% if field.name not in left_col_fields %}
            <div class="input-item">
              <label class="form-label">{{ field.label | safe }}</label>
              <div class="input-group">
                {{ field|add_class:"form-control" }}
                {% if field.field.widget.attrs.unit != "" %}<span class="input-group-text">{{ field.field.widget.attrs.unit }}</span>{% endif %}
              </div>
            </div>
            {% endif %}
            {% endfor %}
            <label class="form-label">
              {% translate "Planning Steps" %}
              <span class="icon icon-question"
                    data-bs-toggle="tooltip"
                    title="{% translate 'Offgridplanner was developed to guide users through the entire planning process of an off-grid system, from demand estimation and spatial grid optimization to design optimization and unit commitment of energy converters. However, individual planning steps can be skipped if needed; simply deselect the relevant options accordingly.' %}"></span>
            </label>
            <div class="form-control" style="background-color: var(--bcc)">
              {% for field in opts_form %}
              <div class="toggle-container">
                <span class="toggle-label">{{ field.label | safe }}</span>
                <label class="switch">
                  {{ field }}
                  <span class="slider round"></span>
                </label>
              </div>
              {% endfor %}
              <input type="submit" id="submitFormBtn" hidden="true">
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</main>
{% endblock progression_content %}
{% block end_body_scripts %}
<!-- TODO mostly not needed as JS -->
<script src="{% static 'js/pages/project_setup.js' %}"></script>
<script src="{% static 'js/backend_communication.js' %}"></script>
<script src="{% static 'js/modal_utils.js' %}"></script>
{% endblock end_body_scripts %}

{% block next_btn %}
<button id="next-button"
        class="btn btn--medium"
        onclick="javascript:document.getElementById('submitFormBtn').click();">{% translate "Next" %}</button>
{% endblock next_btn %}
