{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block head_block %}
<link href="{% static 'css/main.css' %}" rel="stylesheet">
<link href="{% static 'css/pages/user_projects.css' %}" rel="stylesheet">
{% endblock head_block %}

{% block content %}
<body>
{% if request.user.demo %}
<!-- Modal -->
<div id="save-account-modal" class="modal" {% if signup_form.errors %}style="display:block"{% else %}style="display:none"{% endif %} aria-modal="true">
  <div class="modal-content">
    <div class="signup-frame__heading">
      <h2>Save your account</h2>
      <div class="signup-frame__subheading">
        <p>
          Create a permanent account by setting an email and password.
          Your existing projects will be kept.
        </p>
      </div>
      <form method="post"
            class="signup-frame__form"
            action="{% url 'users:demo_convert_account' %}">
        {% csrf_token %}
        <div class="row">
          {{signup_form|crispy}}
        </div>
        <div class="row" style="padding-top:1rem;align-content:center">
          <div class="modal-actions">
            <button type="submit" class="btn btn--small"> Confirm & Save </button>
            <a type="button" class="btn btn--small btn--hollow" id="cancel-save-account"> Cancel </a>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
{% endif %}
{% if not projects and not signup_form.errors %}
<div id="projectExample"
         class="modal">
      <form class="modal-content" style="max-width: 24rem">
          <h1>{% translate "Create Example Project" %}</h1>
          <p>{% translate "You have not created any projects yet. Would you like an example project to be set up for you?" %}</p>
        <div class="modal-actions">
          <a class="btn btn--small" href="{% url 'projects:create_example_project' %}" type="button">{% translate "Yes" %}</a>
          <a class="btn btn--small btn--hollow" onclick="document.getElementById('projectExample').style.display='none'" type="button">{% translate "No" %}</a>
          </div>
      </form>
    </div>
{% endif %}

<main>
  <section class="dashboard">
    <section class="dashboard">

      <div class="chart" style="height: auto; padding-bottom: 10px">


        <div class="chart__header">

          <a class="title">Projects</a>
          {% if request.user.demo %}
          <!-- Save Account Button -->
          <span><button id="save-account-btn" class="btn btn--small" style="align:center">
              {% translate "Save my account" %}
              </button></span>
          {% endif %}
          <span><a href="{% url 'steps:project_setup' %}"
                   class="btn btn--small">{% translate "New Project" %}
              </a></span>
        </div>
        <span class="title"></span>
        <table id="projectTable" class="sortable">
          <thead>
          <tr style="border-bottom:1px solid black">
            <th><button class="btn btn--action">{% translate "Project Name" %}<span aria-hidden="true"></span></button></th>
            <th aria-sort="descending" class="date"><button class="btn btn--action">{% translate "Creation Date" %}<span aria-hidden="true"></span></button></th>
            <th class="date"><button class="btn btn--action">{% translate "Last Update" %}<span aria-hidden="true"></span></button></th>
            <th><button class="btn btn--action">{% translate "Model Status" %}<span aria-hidden="true"></span></button></th>
            <th></th>
            <!-- Added an empty header for the new column -->
            <th></th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          {% if projects %}
          {% for project in projects %}
          <tr>
            <td>{{ project.name }}</td>
            <td class="date" data-timestamp="{{ project.date_created|date:'U' }}">
              {{ project.date_created }}
            </td>
            <td class="date" data-timestamp="{{ project.date_updated|date:'U' }}">
              {{ project.date_updated }}
            </td>
            <td>{{ project.status }}</td>
            <td>
                          <span style="float:none;">
                            <form action="{% url 'projects:project_duplicate' project.id %}"
                                  method="POST">
                              {% csrf_token %}
                              <button style="color:#1F567D;
                                             padding:4px"
                                      class="grey_button"
                                      type="submit"
                                      value="Duplicate">{% translate "Duplicate" %}</button>
                            </form>
                          </span>
            </td>
            <td>
              </span>
            </td>
            <td>
                        <span style="float:none;">
                          <button class="grey_button">
                          <a onclick="document.getElementById('projectID{{ project.id }}').style.display='block'"
                             style="color:white">{% translate "Delete" %}</a>
                          </button>
                        </span>
            </td>
            <td>
                        <span style="float:none;">
                          <button class="grey_button">
                          <a href="{% url 'steps:project_setup' project.id %}">{% translate "Edit" %}</a>
                          </button>
                        </span>
            </td>
            <td>
                        <span style="float:none;">
                          <button class="grey_button {% if not project.has_simulation %} disabled {% endif %}" >
                            {% if project.has_simulation %}
                              <a href="{% url 'steps:simulation_results' project.id %}" >{% endif %}
                              {% translate "Results" %}</a>
                          </button>
                        </span>
            </td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td>{% translate "You do not yet have any saved projects" %}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <!-- Added an empty cell for the new column -->
          </tr>
          {% endif %}
          </tbody>
        </table>
        <span class="subtitle"></span>
      </div>
    </section>
    {% if projects %}
    {% for project in projects %}
    <div id=projectID{{ project.id }} class="modal">
      <form class="modal-content"
            action="{% url 'projects:project_delete' project.id %}"
            method="POST">
        {% csrf_token %}
        <div class="container">
          <h1>{% translate "Delete Project" %}</h1>
          <p>{% translate "Are you sure you want to delete the project?" %}</p>
          <div class="clearfix">
            <button style="margin-top:0.25rem;" class="deletebtn" type="submit">{% translate "Delete" %}</button>
            <button onclick="document.getElementById('projectID{{ project.id }}').style.display='none'"
                    type="button"
                    class="cancelbtn">{% translate "Cancel" %}</button>
          </div>
        </div>
      </form>
    </div>
    {% endfor %}
    {% endif %}
  </section>
</main>
</body>
{% endblock content %}
{% block end_body_scripts %}
<script src="{% static 'js/third_party/sortable-table.js' %}"></script>
<script src="{% static 'js/pages/user_projects.js' %}"></script>
<script src="{% static 'js/backend_communication.js' %}"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const openBtn = document.getElementById("save-account-btn");
    const modal = document.getElementById("save-account-modal");
    const cancelBtn = document.getElementById("cancel-save-account");

    function openModal() {
      modal.style.display = "block";
    }

    function closeModal() {
      modal.style.display = "none";
    }

    openBtn.addEventListener("click", openModal);
    cancelBtn.addEventListener("click", closeModal);
  });
</script>
{% if not projects %}
<script>
  const modal = document.getElementById('projectExample');
  modal.style.display = 'block';
</script>
{% endif %}
{% endblock end_body_scripts %}
