.error-cross {
    position: relative;
    width: 10em;
    height: 10em;
    margin: 55px auto;
}

.error-cross::before,
.error-cross::after {
    content: '';
    position: absolute;
    top: 0;
    left: 4.75em;
    width: 0.5em;
    height: 10em;
    background-color: #D9534F; /* Red */
    border-radius: 0.25em;
}

.error-cross::before {
    transform: rotate(45deg);
}

.error-cross::after {
    transform: rotate(-45deg);
}
