body {
    text-align: justify;
}

.image-container {
    display: flex;
    justify-content: space-evenly; /* Adjusts space between images */
}

.image-container a {
    align-content: center; /* Adjust width as needed */
}

.image-container img {
    width: 400px; /* Adjust width as needed */
    height: auto; /* Maintains aspect ratio */
}

.row {
    animation: loadingEffect 1s;
}
